.dark {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    background-color: var(--mantine-color-cyan-9) !important;
  }
}

.light {
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  &:hover {
    background-color: var(--mantine-color-cyan-9) !important;
  }
}
