@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, abyss --prefersdark;
}

@theme {
  --font-sans: "IBM Plex Sans JP", "sans-serif";

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --animate-bounce-gentle: bounce-gentle 5s infinite;
}

@keyframes bounce-gentle {
  0%,
  80%,
  100% {
    transform: translateY(0) scale(1);
  }
  4% {
    transform: translateY(-8px) scale(1.02);
  }
  8% {
    transform: translateY(0) scale(1);
  }
  12% {
    transform: translateY(-4px) scale(1.01);
  }
  16% {
    transform: translateY(0) scale(1);
  }
}
