@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, abyss --prefersdark;
}

@theme {
  --font-sans: "IBM Plex Sans JP", 'sans-serif';

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}
